<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'analis/styles.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Blue - Tendencias en Tecnología</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Blue</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sitios Web
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#sitiosModal">Listar</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addSitioModal">Agregar</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#actualizarSitioModal">Actualizar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#getPostModal">Publicaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  {% if user.is_authenticated %}
                    {% if user.first_name and user.last_name %}
                        <p>Bienvenido, {{ user.first_name }} {{ user.last_name }} </p>
                    {% else %}
                        <p>Bienvenido</p>
                    {% endif %}
                  {% endif %}
                </span>
              </div>
            </div>
        </nav>   
        <ul>
            {% for publicacion in publicaciones %}
            <li><a href="{{ publicacion.url }}">{{ publicacion.titulo }}</a></li>
            <li>By <a href="{{ publicacion.sitio_web.url }}">{{ publicacion.sitio_web.nombre }}</a> - {{ publicacion.fecha_creacion }}</li>
            <br>
            {% endfor %}
        </ul>    
        <form action="/get-post/" method="GET">
            <input type="text" name="numberPostGet" placeholder="Ingresa el parámetro">
            <button type="submit">Enviar</button>
          </form>
    </div>
    <!-- Modal's -->
    <!-- Modal Sitios Web-->
    <div class="modal fade modal-dialog-scrollable" id="sitiosModal" tabindex="-1" aria-labelledby="sitiosModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="sitiosModalLabel">Sitios Web</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol id="siteList" class="list-group list-group-numbered">
                    <p>Total de Sitios Web: {{ sitios_web.count }}</p>
                    <input type="text" id="searchInput" class="form-control" placeholder="Buscar sitio web...">
                    <br>
                    {% for sitio in sitios_web %}
                        <li id="sitio-web-{{ sitio.sitio_web_id }}" class="list-group-item d-flex justify-content-between align-items-start sitio-item">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="{{ sitio.url }}">{{ sitio.nombre }}</a></div>
                                <b>Nombre: </b>{{ sitio.nombre }} <br>  
                                <b>URL: </b>{{ sitio.url }} <br>
                                <b>URL FEED: </b>{{ sitio.feed_url }} <br>
                                <b>Numero de post:</b> 
                                {% for sitio_web, num_publicaciones in num_publicaciones_por_sitio.items %}
                                    {% if sitio == sitio_web %}
                                        {{ num_publicaciones }}
                                    {% endif %}
                                {% endfor %} 
                            </div>
                            {% if user.is_superuser %}
                            <span id="boton-borrar-sitio-web-{{ sitio.sitio_web_id }}" class="borrar-sitio-btn badge bg-danger rounded-pill">Borrar</span>
                            {% endif %}                  
                        </li>
                    {% endfor %}
                    <script>
                      document.addEventListener("DOMContentLoaded", function() {
                          var searchInput = document.getElementById("searchInput");
                          searchInput.addEventListener("keyup", function() {
                              var value = this.value.toLowerCase();
                              var sitioItems = document.getElementsByClassName("sitio-item");
              
                              for (var i = 0; i < sitioItems.length; i++) {
                                  var sitioItem = sitioItems[i];
                                  var sitioName = sitioItem.querySelectorAll(".fw-bold")[0].textContent.toLowerCase();
                                  
                                  if (sitioName.includes(value)) {
                                      sitioItem.style.cssText = "display: flex !important";
                                  } else {
                                    sitioItem.style.cssText = "display: none !important";
                                  }
                              }
                          });
                      });
                    </script>
                </ol> 
            </div>
        </div>
        </div>
    </div>
     <!-- Agregar Sitio Web-->
     <div class="modal fade modal-dialog-scrollable" id="addSitioModal" tabindex="-1" aria-labelledby="addSitioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSitioModalLabel">Agregar nuevo Sitio Web</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.is_superuser %}
                  <form method="post" action="{% url 'agregar_sitio_web' %}">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="sitioNombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="sitioNombre" name="sitioNombre">
                          <br> 
                          <label for="sitioUrl" class="form-label">URL</label>
                          <input type="text" class="form-control" id="sitioUrl" name="sitioUrl">
                          <br>
                          <label for="sitioRSS" class="form-label">URL RSS</label>
                          <input type="text" class="form-control" id="sitioRSS" name="sitioRSS">
                      </div>
                      <button type="submit" class="btn btn-primary" style="float: right;">Agregar</button>
                  </form>
                {% else %}
                  <p>🚫 Esta opción solo esta disponible para administradores. Inicia sesión si deseas agregar sitios web nuevos a Blue.</p>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    <!-- Actualizar Sitio Web-->
    <div class="modal fade modal-dialog-scrollable" id="actualizarSitioModal" tabindex="-1" aria-labelledby="actualizarSitioModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarSitioModalLabel">Actualizar Sitio Web</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.is_superuser %}
                  <form method="post" action="" id="actualizarSitioForm">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="sitiosDataList" class="form-label">Eelegir Sitio Web</label>
                          <input class="form-control" list="datalistOptions" id="sitiosDataList" placeholder="Eelegir sitio..">
                          <datalist id="datalistOptions">
                            {% for sitio in sitios_web %}
                            <option value="{{ sitio.nombre }}" data-id="{{ sitio.sitio_web_id }}" data-url="{{ sitio.url }}" data-rss="{{ sitio.feed_url }}">
                            {% endfor %}  
                          </datalist>
                          <br>
                          <label for="actualizarSitioNombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="actualizarSitioNombre" name="actualizarSitioNombre">
                          <br> 
                          <label for="actualizarSitioUrl" class="form-label">URL</label>
                          <input type="text" class="form-control" id="actualizarSitioUrl" name="actualizarSitioUrl">
                          <br>
                          <label for="actualizarSitioRSS" class="form-label">URL RSS</label>
                          <input type="text" class="form-control" id="actualizarSitioRSS" name="actualizarSitioRSS">
                      </div>
                      <button type="submit" class="btn btn-primary" style="float: right;">Actualizar</button>
                  </form>
                {% else %}
                  <p>🚫 Esta opción solo esta disponible para administradores. Inicia sesión si deseas actualizar sitios web en Blue.</p>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    <!-- Obtener Post-->
    <div class="modal fade modal-dialog-scrollable" id="getPostModal" tabindex="-1" aria-labelledby="getPostModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getPostModalLabel">Optener publicaciones de Sitios Web</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.is_superuser %}
                <form method="POST" action="{% url 'get-post' %}">
                  {% csrf_token %}
                  <p><b>¿De que sitios web deseas traer información?</b></p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="todosSitios" id="todosSitios" checked>
                    <label for="todosSitios">Todos los sitios web</label>
                  </div>
                  <label for="sitiosWeb">De sitios web en espesifico:</label>
                  <select class="form-select" multiple aria-label="multiple select" name="sitiosWeb">
                    {% for sitio in sitios_web %}
                      <option value="{{ sitio.sitio_web_id }}" id="sitio_{{ sitio.sitio_web_id }}">{{ sitio.nombre }}</option>
                    {% endfor %}
                  </select>
                  <hr>
                  <p><b>¿Cúantas publicaciones por sitio deseas traer?</b></p>
                  <input class="form-check-input" type="checkbox" name="todasPublicaciones" id="todasPublicaciones" checked>
                  <label for="todasPublicaciones"> Todas las disponibles</label>
                  <br>
                  <label for="numberPostGet">Número de publicaciones a traer:</label>
                  <input class="form-control" type="number" name="numberPostGet" id="numberPostGet" min="1">
                  <i class="fw-lighter"style="font-size: .7rem;">Puedes elegir el numero de publicaciones a traer, pero siempre estarás limitado a el numero máximo de publicaciones disponibles en el FEED de cada sitio web.</i>
                  <br><br>
                  <button type="submit" class="btn btn-primary" style="float: right;">Optener publicaciones</button>
              </form>   
              <script>
                  const numberPostGetInput = document.getElementById('numberPostGet');
                  const todasPublicacionesInput = document.getElementById('todasPublicaciones');
                  const todosSitiosInput = document.getElementById('todosSitios');
                  const sitiosWebCheckboxes = document.querySelectorAll('[name="sitiosWeb"]');
              
                  // Función para deshabilitar o habilitar el campo numberPostGet según el estado de todasPublicaciones
                  function toggleNumberPostGet() {
                      numberPostGetInput.disabled = todasPublicacionesInput.checked;
                  }
              
                  // Función para deshabilitar o habilitar los checkboxes de sitiosWeb según el estado de todosSitios
                  function toggleSitiosWebCheckboxes() {
                      for (const checkbox of sitiosWebCheckboxes) {
                          checkbox.disabled = todosSitiosInput.checked;
                      }
                  }
              
                  // Agregar event listeners a todasPublicacionesInput y todosSitiosInput
                  todasPublicacionesInput.addEventListener('change', function () {
                      toggleNumberPostGet();
                  });
              
                  todosSitiosInput.addEventListener('change', function () {
                      toggleSitiosWebCheckboxes();
                  });
              
                  // Llamar a las funciones para configurar el estado inicial del formulario
                  toggleNumberPostGet();
                  toggleSitiosWebCheckboxes();
              </script>
              
                {% else %}
                  <p>🚫 Esta opción solo esta disponible para administradores. Inicia sesión si deseas actualizar sitios web en Blue.</p>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
    <!-- Borrar sitio web-->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll(".borrar-sitio-btn");
    
        deleteButtons.forEach((button) => {
          button.addEventListener("click", function() {
            const sitioWebId = this.id.split("-")[4];
            console.log(sitioWebId)
            if (confirm("¿Estás seguro de que deseas eliminar este sitio web?")) {
              fetch(`/borrar_sitio_web/${sitioWebId}/`, {
                method: "POST",
                headers: {
                  "X-CSRFToken": getCookie("csrftoken"),
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  if ("mensaje" in data) {
                    const sitioWebElement = document.getElementById(`sitio-web-${sitioWebId}`);
                    sitioWebElement.parentNode.removeChild(sitioWebElement);
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            }
          });
        });
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }
      });
      // Función para llenar los campos cuando se selecciona un sitio web
      function llenarCampos() {
        const sitioSeleccionado = document.getElementById('sitiosDataList').value;
        const sitiosOptions = document.getElementById('datalistOptions').getElementsByTagName('option');

        for (const option of sitiosOptions) {
            if (option.value === sitioSeleccionado) {
                document.getElementById('actualizarSitioNombre').value = option.value;
                document.getElementById('actualizarSitioUrl').value = option.getAttribute('data-url');
                document.getElementById('actualizarSitioRSS').value = option.getAttribute('data-rss');
                const sitioSeleccionadoId = option.getAttribute('data-id');
                actualizarSitioForm.action = '/actualizar_sitio_web/' + sitioSeleccionadoId + '/';
                break;
            } 
        }
      }
      // Asociar la función al evento onchange del input de la lista desplegable
      document.getElementById('sitiosDataList').onchange = llenarCampos;
    </script>      
</body>
</html>