<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Blue - Tendencias en Tecnología</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Blue</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sitios Web
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#sitiosModal">Listar</a></li>
                      <li><a class="dropdown-item" href="#">Agregar</a></li>
                      <li><a class="dropdown-item" href="#">Actualizar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sitios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  Navbar text with an inline element
                </span>
              </div>
            </div>
        </nav>   
        <ul>
            {% for publicacion in publicaciones %}
            <li><a href="{{ publicacion.url }}">{{ publicacion.titulo }}</a></li>
            <li>By <a href="{{ publicacion.sitio_web.url }}">{{ publicacion.sitio_web.nombre }}</a> - {{ publicacion.fecha_creacion }}</li>
            <br>
            {% endfor %}
        </ul>    
        <form action="/get-post/" method="GET">
            <input type="text" name="numberPostGet" placeholder="Ingresa el parámetro">
            <button type="submit">Enviar</button>
          </form>
    </div>
    <!-- Modal's -->
    <!-- Modal Sitios Web-->
    <div class="modal fade modal-dialog-scrollable" id="sitiosModal" tabindex="-1" aria-labelledby="sitiosModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="sitiosModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol class="list-group list-group-numbered">
                    <p>Total de Sitios Web: {{ sitios_web.count }}</p>
                    {% for sitio in sitios_web %}
                        <li id="sitio-web-{{ sitio.sitio_web_id }}" class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="{{ sitio.url }}">{{ sitio.nombre }}</a></div>
                                <b>Nombre: </b>{{ sitio.nombre }} <br>  
                                <b>URL: </b>{{ sitio.url }} <br>
                                <b>URL FEED: </b>{{ sitio.feed_url }} <br>
                                <b>Numero de post:</b> 
                                {% for sitio_web, num_publicaciones in num_publicaciones_por_sitio.items %}
                                    {% if sitio == sitio_web %}
                                        {{ num_publicaciones }}
                                    {% endif %}
                                {% endfor %} 
                            </div>
                            <span class="borrar-sitio-btn badge bg-danger rounded-pill">Borrar</span>                  
                        </li>
                    {% endfor %}
                </ol> 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
    <!-- Borrar sitio web-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const deleteButtons = document.querySelectorAll(".borrar-sitio-btn");
      
          deleteButtons.forEach((button) => {
            button.addEventListener("click", function() {
              const sitioWebId = this.dataset.sitioWebId;
              if (confirm("¿Estás seguro de que deseas eliminar este sitio web?")) {
                fetch(`/borrar_sitio_web/${sitioWebId}/`, {
                  method: "POST",
                  headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                  },
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if ("mensaje" in data) {
                        const sitioWebElement = document.getElementById(`sitio-web-${sitioWebId}`);
                        sitioWebElement.parentNode.removeChild(sitioWebElement);
                    }
                  })
                  .catch((error) => {
                    console.error("Error:", error);
                  });
              }
            });
          });
      
          function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
          }
        });
    </script>      
</body>
</html>