<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  {% include 'analis/components/header.html' %}
</head>
<body>
  <!-- HTML -->
  <div id="loadingGif"></div>
  <!-- Nave -->
  {% include 'analis/components/nav.html' %}
  <!-- Post -->
  {% include 'analis/components/posts.html' %}  
  <!-- Modal's -->
  {% include 'analis/modals/sitios_modal.html' %}
  {% include 'analis/modals/add_sitio_modal.html' %} 
  {% include 'analis/modals/actualizar_sitio_modal.html' %}
  {% include 'analis/modals/get_post_modal.html' %}
  {% include 'analis/modals/post_preview.html' %}
  <!-- Scripts al final del cuerpo para garantizar que el DOM esté cargado -->
  <script src="{% static 'analis/js/show_post_modal.js' %}"></script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
  <!-- Scripts de delete_sitio_web.js -->
  <script src="{% static 'analis/js/delete_sitio_web.js' %}"></script>
  <!-- Scripts de fill_fields.js -->
  <script src="{% static 'analis/js/fill_fields.js' %}"></script>
</body>
</html>