*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif', serif;
}

p {
    font-size: 18px;
}

.modal-body {
    border: solid 1px #858585;
    padding: 15px 30px 15px 30px !important;
}

span.borrar-sitio-btn.badge.bg-danger.rounded-pill{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

p.infoPost {
    font-size: .8rem;
    color: #a4a4a4;
}

.engagement{
    background: #303030b5;
    color: white;
    padding: 3px;
    border-radius: 3px;
    float: right;
    font-size: .7rem;
    width: 130px;
}

.number-post{
    z-index: 2 !important;
    position: absolute !important;
    background: white !important;
    padding: 1px 5px 1px 5px !important;
}

img.img-post {
    width: 100px;
    height: 67px;
    background-size: cover;
    margin-left: -33px;
    z-index: 1;
    position: relative;
}

.container.CuerpoVistaPreviaPost img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container.CuerpoVistaPreviaPost iframe {
    border: 0;
    width: 100%;
    height: 435px;
}

.options {
    padding: 5px;
    position: fixed;
    background: lightgrey;
    border-radius: 5px;
}

.options img {
    width: 33px;
}

#loadingGif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('img/p.gif') no-repeat center center;
    background-size: contain;
    z-index: 9999; /* Asegura que esté encima de todo */
    display: none;
}

/* Personaliza el color de fondo del botón del acordeón cuando está cerrado */
.accordion-button {
    background-color: #ffffff !important;  /* Cambia esto al color que desees */
    color: #000000 !important;  /* Cambia esto al color del texto que desees */
}

/* Personaliza el color de fondo del botón del acordeón cuando está abierto */
.accordion-button[aria-expanded="true"] {
    background-color: #ffffff;  /* Cambia esto al color que desees */
    color: #000000;  /* Cambia esto al color del texto que desees */
}