*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif', serif;
}

p {
    font-size: 18px;
}

.modal-body {
    border: solid 1px #858585;
    padding: 15px 30px 15px 30px !important;
}

span.borrar-sitio-btn.badge.bg-danger.rounded-pill{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

p.infoPost {
    font-size: .8rem;
    color: #a4a4a4;
}

.engagement{
    background: #303030b5;
    color: white;
    padding: 3px;
    border-radius: 3px;
    float: right;
    font-size: .7rem;
    width: 130px;
}

.number-post{
    z-index: 2 !important;
    position: absolute !important;
    background: white !important;
    padding: 1px 5px 1px 5px !important;
}

img.img-post {
    width: 100px;
    height: 67px;
    background-size: cover;
    margin-left: -33px;
    z-index: 1;
    position: relative;
}

.container.CuerpoVistaPreviaPost img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container.CuerpoVistaPreviaPost iframe {
    border: 0;
    width: 100%;
    height: 435px;
}

.options {
    padding: 5px;
    position: fixed;
    background: lightgrey;
    border-radius: 5px;
}

.options img {
    width: 33px;
}